<%- include('includes/head.ejs', {username: username}) %>

        <% for (let construccion of construcciones) { %>

            <h1 class="title"> Nombre de la construccion: <%= construccion.nombre %></h1>
            <h1 class="title"> URL de la construccion: <%= construccion.imagen %></h1>
        <% } %>
            
        <% if(ultima_construcciones != ''){%>
            <div> La ultima construccion fue <%= ultima_construcciones %>.</div>
            <%  } %>
<%- include('includes/foot.ejs') %> 